<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Server of Things.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Server of Things.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1489</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1493</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1528</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1534</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1572</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1573</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1582</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1590</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1592</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1610</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1622</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1623</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1657</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1714</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1715</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1749</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1756</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1761</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1770</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1815</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2037</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_780</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_837</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_909</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
